services:
  mysql:
    image: mysql:8.0.44-debian
    container_name: zerobank_mysql
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      TZ: Asia/Shanghai
    ports:
      - "33306:3306"
    volumes:
      - ./data/mysql_data:/var/lib/mysql
    networks:
      - zerobank_net
    restart: unless-stopped

  redis:
    image: redis:8.4.0-alpine3.22
    container_name: zerobank_redis
    ports:
      - "36379:6379"
    volumes:
      - ./data/redis_data:/data
    networks:
      - zerobank_net
    restart: unless-stopped

  consul:
    image: hashicorp/consul:latest
    container_name: zerobank_consul
    ports:
      - "8500:8500/tcp"
      - "8600:8600/udp"
    command: "agent -server -bootstrap -ui -client=0.0.0.0"
    networks:
      - zerobank_net
    restart: unless-stopped

  nginx:
    image: nginx:latest
    container_name: zerobank_nginx
    ports:
      - "8888:8081"
    volumes:
      - ./deploy/nginx/conf.d/zerobank-gateway.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - report-api
      - account-api
      - transaction-api
    networks:
      - zerobank_net
    restart: unless-stopped

  account-api:
    image: account-api:1.0
    container_name: zerobank_account_api
    ports:
      - "8001:8001"
    depends_on:
      - mysql
    networks:
      - zerobank_net
    restart: unless-stopped

  account-rpc:
    image: account-rpc:1.0
    container_name: zerobank_account_rpc
    ports:
      - "9001:9001"
    depends_on:
      - mysql
      - consul
    networks:
      - zerobank_net
    restart: unless-stopped

  transaction-api:
    image: transaction-api:1.0
    container_name: zerobank_transaction_api
    ports:
      - "8002:8002"
    depends_on:
      - mysql
      - consul
    networks:
      - zerobank_net
    restart: unless-stopped
  transaction-rpc:
    image: transaction-rpc:1.0
    container_name: zerobank_transaction_rpc
    ports:
      - "9002:9002"
    depends_on:
      - mysql
      - consul
    networks:
      - zerobank_net
    restart: unless-stopped
  riskcontrol-rpc:
    image: riskcontrol-rpc:1.0
    container_name: zerobank_riskcontrol_rpc
    ports:
      - "9003:9003"
    depends_on:
      - mysql
      - redis
      - consul
    networks:
      - zerobank_net
    restart: unless-stopped
  report-api:
    image: report-api:1.0
    container_name: zerobank_report_api
    ports:
      - "8003:8003"
    depends_on:
      - mysql
      - consul
    networks:
      - zerobank_net
    restart: unless-stopped

networks:
  zerobank_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.21.0.0/16
